@import './components/desktop-nav/desktop-nav';
@import './components/logo/logo';

header {
    background-color: #FFF;
    height: 50px;
    li.logo { margin-top: 20px; }
    //ul for logo, nav, search, and cart
    ul {
        height: 50px;
        li {
            display: inline-block;
        }
        
        li.cart , li.search{

            float:right;
            margin-top:20px;
            svg {
                height: 20px;
                width:20px;
                fill: #414141;
            }

            a:hover {
                svg {
                    fill: #303030;
                }
            }
        }

        li.main-nav-mobile, li.main-nav-mobile button .hamburger-box, li.main-nav-mobile button .hamburger .hamburger--collapse {
            height:10px;
            width: 30px;
            position: absolute;
            top: 16px;
            right: 20px;
        }
        .button:focus, .button:hover, button:focus, button:hover, input[type='button']:focus, input[type='button']:hover, input[type='reset']:focus, input[type='reset']:hover, input[type='submit']:focus, input[type='submit']:hover {
            background-color: unset;
        }
    }

    //Mobile
    @media screen and (max-width: 1024px) {
        li.main-nav-desktop { display: none; }
        li.main-nav-mobile { display: inline-block; }
        
        li.search {
            margin-right:20px;
        }

        li.cart {
            margin-right:80px;
        }
    }
    //Desktop
    @media screen and (min-width: 1024px) {
        li.main-nav-desktop { display: inline-block; }
        li.main-nav-mobile { display: none; }
        li.search {
            margin-right:20px;
        }
        li.cart {
            margin-right:50px;
        }
    }
}