@import '../../variables';

footer {
    background-color: #FFF;
    margin:0 -1rem 0 -1rem;
    padding: 40px;
    font-size: 1.15rem;
    div.column {
        margin-bottom: 30px;
    }
    h6 {
         font-size: 0.8rem;
        text-transform: uppercase;
    }
    a {
        color: map-get($map: $colors, $key: dark);
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 0.6rem;
    }
    
    //Mobile 
    @media screen and (max-width: 1024px) {
        text-align: center;
    }
}