home-page {
    
    div.columns.p-series {
        background-color: rgb(37, 19, 37);
        padding: 40px 0px 70px 0;
        img {
            width: 100%;
            padding:50px 0;
        }
    }

    div.columns.smart-assistants {
        background-color: rgb(13, 104, 139);
        padding: 70px 0px;
        img {
            width: 100%;
        }
    }

    div.columns.smart-tv {
        background-color: rgb(212, 101, 57);
        padding: 70px 0px;
        img {
            width: 100%;
        }
    }
    
    div.column {
        text-align: center;
    }

    // Main product highlight description block
    div.product-highlight {
       // margin: 0 16vw 25px 16vw;
        padding: 15px 0;
        background-color: #FFF;
        font-size: 4em;
        text-align: center;
        h1 {
            color: #000;
        }
        h4 {
            color: rgb(32, 32, 32);
        }
        button.btn {
            background-color: #8737b9;
        }
        button.btn-link {
            background-color: transparent;
            color: #8737b9;
        }
    }

    // Smart Assistants description block
    div.smart-assistants-description {
        padding: 65px 10px 0 10px;
        min-height: 400px;  
        background-color: #FFF;
        font-size: 4rem;
        text-align: center;
        h1 {
            color: #000;
        }
        h4 {
            color: rgb(32, 32, 32);
        }

        div.integrations span {
            margin: 0 10px;
            vertical-align: middle;
            img {
                width: 60px;
            }
        }

        span {
            height:50px;
        }
        button.btn-primary {
            background-color: rgb(0, 138, 230);
            border: 1px solid rgb(0, 138, 230);
        }
        button.btn-link {
            background-color: transparent;
            color: rgb(0, 156, 218);
            border: none;
        }
    }

    // Smart TVs description block
    div.smart-tv-description {
      padding: 35px 0;
     // margin-right:20px;
     // margin-top: 20px;
      background-color: #FFF;
      font-size: 4rem;
      text-align: center;
      h1 {
          color: #000;
      }
      h4 {
          color: rgb(32, 32, 32);
      }

      div.smart-tv-icon {
          height: 110px;
          margin: 0 10px;
          margin-top: -40px;
          svg {
              width: 60px;

          }
      }

      span {
          height:50px;
      }
      button.btn {
          background-color: rgb(230, 80, 34);
          border: 1px solid rgb(230, 80, 34);
      }
      button.btn-link {
          background-color: transparent;
          color: rgb(230, 80, 34);
          border: none;
      }

  }


}