
desktop-nav {
    height:80px;
        ul {
            list-style-type: none;
            li {
                display: inline-block;
                margin: 0 5px;
                a, a:visited {
                    font-size: 1.1em;
                    padding: 0 10px;
                    color: #360c50;
                    svg {
                        fill: #360c50;
                    }
                }
                
                a:hover {
                    color: #8737b9;
                    text-decoration: none;
                    svg {
                        fill: #8737b9;
                    }
                }
            }
        }
}