@import '../../app/layout/layout';
@import '../../app/pages/pages';
body {
    margin: 0px !important;
}

//Desktop
@media screen and (min-width: 1024px) {
    .page {
        min-height: calc(100vh - 350px);
    }
}

.align-vertical-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

a, a:visited {
    color: #000;
}
