

disclaimer-message {
    div {
        width: 100vw !important;
        min-height: 40px;
        font-size: 0.7em;
        background-color: #000;
        color: #FFF;
        text-align: center;
        padding: 10px !important;

        a, a:visited {
            color: rgb(129, 179, 255);
        }        
    }
}